
@using Microsoft.AspNetCore.Components.Web;
@using MusicWebSite.Models;
@using MusicWebSite.Services;
@inject JsonFileMusicServices MusicService

<div class="card-columns">
    @foreach (var music in MusicService.GetMusics())
    {
        <div class="card">
            <div class="card-img" style="background-image:url('@music.Image');"></div>
            <div class="card-body">
                <h5 class="card-title">@music.Title</h5>
            </div>
        </div>

        <div class="card-footer">
            <small class="text-muted">
                <button @onclick="(e=>SelectMusic(music.Id))" data-toggle="modal" data-target="#productModal" class="btn btn-primary">More Info</button>
            </small>
        </div>
    }
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@if (selectedMusic != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedMusic.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedMusic.Image');">
                        </div>
                        <div class="card-body">
                            <p class="card-text">@selectedMusic.Description</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (voteCount == 0)
                    {
                        <span>Be the first to vote!</span>
                    }
                    else
                    {
                        <span>@voteCount @voteLabel</span>
                    }
                    @for (int i = 1; i < 6; i++)
                    {
                        var currentStar = i;
                        if (i <= currentRating)
                        {
                            <span class="fa fa-star checked" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                        else
                        {
                            <span class="fa fa-star" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

@code
{
    Music selectedMusic;
    string selectedMusicId;

    void SelectMusic(string musicId)
    {
        selectedMusicId = musicId;
        selectedMusic = MusicService.GetMusics().First(x => x.Id == musicId);
        GetCurrentRating();
    }

    int currentRating = 0;
    int voteCount = 0;
    string voteLabel;

    void GetCurrentRating()
    {
        if (selectedMusic.Ratings == null)
        {
            currentRating = 0;
            voteCount = 0;
        }
        else
        {
            voteCount = selectedMusic.Ratings.Count();
            voteLabel = voteCount > 1 ? "Votes" : "Vote";
            currentRating = selectedMusic.Ratings.Sum() / voteCount;
        }

        System.Console.WriteLine($"Current rating for {selectedMusic.Id}: {currentRating}");
    }

    void SubmitRating(int rating)
    {
        System.Console.WriteLine($"Rating received for {selectedMusic.Id}: {rating}");
        MusicService.AddRating(selectedMusicId, rating);
        SelectMusic(selectedMusicId);
    }
}
